<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Nice Place</title>
</head>
<body>
	<h1>Welcome to Nice Place</h1>

	{{#if loggedIn}}
		<a href="/users/logout">log out</a>
	{{/if}}
	
	{{{body}}}
	<script src="/js/main.js"></script>
</body>
</html>