<h1>Welcome</h1>

<h1>You're looking lovely today</h1>

<form action="/users/login" method="POST">
	<input name="email" placeholder="Email"/>
	<input name="password" type="password" placeholder="Password"/>
	<button>submit</button>
</form>