<h1>It's so great to see you!<h1>

<h1>sign up below<h1>

<form action="/users/register" method="POST">
	<input name="email" placeholder="Email"/>
	<input name="password" type="password" placeholder="password"/>
	<input name="name" placeholder="Your Name"/>
	<input name="city" placeholder="Your City"/>
	<input name="quote" placeholder="A positive quote"/>
	<input name="pic" placeholder="url to a picture"/>
	<button>submit</button>

</form>